body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* Align items horizontally with space between them */
  align-items: center;
  /* Align items vertically */
}


.header .logo {
  width: 100px;
  height: auto;
}

.container {
  display: flex;
}

.sidebar {
  background-color: #f0f0f0;
  width: 200px;
  padding: 20px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: block;
  padding: 10px 20px;
}

.vendor-button {
  margin-top: 20px;
}

.content-area {
  flex: 1;
  padding: 20px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-summary {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-summary h3 {
  color: #333;
}

.card-summary .display-4 {
  font-size: 36px;
  color: #007bff;
  margin-top: 10px;
}

.recent-orders {
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.vendor-form-button,
.menu-management-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.vendor-form-button:hover {
  background-color: #218838;
}

/* Adjustments for visual consistency */
.nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.nav-item {
  margin-bottom: 10px;
}

.sign-out-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c82333;
}

.settings-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #0056b3;
}