body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* Align items horizontally with space between them */
  align-items: center;
  /* Align items vertically */
}


.header .logo {
  width: 100px;
  height: auto;
}

.container {
  display: flex;
  /* min-height: calc(50vh - 100px); */
}

.sidebar {
  background-color: #f0f0f0;
  width: 200px;
  padding: 20px;
  flex-shrink: 0;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.vendor-button {
  margin-top: 20px;
}

.content-area {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-summary {
  flex-basis: 30%;
}

.recent-orders {
  margin-top: 20px;
}

#feedbackCarousel {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.horizontal-carousel .carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
}

.card {
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative; /* Changed from fixed */
  bottom: 0;
}

.vendor-form-button, .menu-management-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.vendor-form-button:hover, .menu-management-button:hover {
  background-color: #218838;
}
